<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增订单明细')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-details-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">商品的名称：</label>
                <div class="col-sm-8">
                    <input name="goodsName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">商品的价格：</label>
                <div class="col-sm-8">
                    <input name="goodsPrice" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">商品的数量：</label>
                <div class="col-sm-8">
                    <input name="goodsCount" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">商品的总价钱：</label>
                <div class="col-sm-8">
                    <input name="goodsTotalMoney" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">商品的税费：</label>
                <div class="col-sm-8">
                    <input name="goodsTax" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "angeltqs/details"
        $("#form-details-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-details-add').serialize());
            }
        }
    </script>
</body>
</html>